.address {
  color: $white;
  font-style: normal;
  padding-top: 20px;
  font-size: 14px;
  width: 246px;

  &__link {
    list-style: none;
    padding-top: 9px;
    color: $white;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: $animation;

    &:hover,
    &:focus {
      color: $blue;
    }
  }
}
