.advantages {
  padding: 94px 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  max-width: $screenDesktop;
  min-width: $MinWidth;

  &__container {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  &__list {
    min-width: $MinWidth;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__icon {
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: $button-color;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__header {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $header-color;
  }

  &__paragraph {
    padding: 0, 10px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $grey;
  }
}

@media screen and (min-width: $screenTablet) {
  .advantages {
    &__item {
      flex-basis: calc((100% - 60px) / 2);
    }
  }
}

@media screen and (min-width: $screenDesktop) {
  .advantages {
    &__list {
      flex-wrap: nowrap;
    }
  }
}
