.vision {
  max-width: 1600px;
  min-width: $MinWidth;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: $darkgrey;
  background-image: $order-gradient, url(../images/order-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 0;
  &__conteiner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
  }
  &__header {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    color: $white;
    padding: 30px;
  }
  &__button {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    background: $blue;
    color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    &:hover,
    &:focus {
      color: $white;
      background-color: $blue;
      border: none;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.15);
    }
  }
}

@media screen and (min-width: $screenDesktop){
  .vision{
    &__container{
      height: 600px;
    }
    &__header{
      font-size: 44px;
      line-height: 60px;
    }
  }
}